body {
	margin: 0;
}
a,h1,h2,h3,h4,h5,ul,li {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
nav {
	z-index: 1;
	top: 0;
	min-height: 100%;
	background: white;
	max-height: 100%;
	overflow: auto;
	box-sizing: border-box;
	padding: 25px 15px 0px 0px;
	width: 245px;
	display: inline-block;
	position: fixed;
}
nav *:not(img){
	padding-left: 15px;
}
nav label {
	color: #A5A0A0;
	display: inline-block;
	margin-bottom: 20px;
}
nav a {
	color: black;
	padding: 4px 0 4px 15px;
	margin-bottom: 8px;	
	font-size: 21px;
	display: block;
}
nav a:hover {
	background: #CCCCCC;
}
nav a:nth-of-type(1) {
	color: #2F53C9;
}
nav .navImg{
	padding-left: 0px;
	width: 120px;
	margin-bottom: 22px;
}
nav .navImg img {
	width: 100%;
}
nav h3 {
	margin-bottom: 14px;
	font-size: 28px;
}
nav a img {
	vertical-align: middle;
	height: 25px;
	margin-right: 15px;
}
.socialIcons {
	margin-top: 30px;
}
.socialIcons img{
	border-radius: 5px;
	margin-right: 20px;
	height: 20px;
}
.socialIcons img:nth-of-type(1):hover {
	background: rgba(59,89,152,0.8);
}
.socialIcons img:nth-of-type(2):hover {
	background: rgba(193,60,49,0.8);
}
.socialIcons img:nth-of-type(3):hover {
	background: rgba(237,81,83,0.8);
}


.opDiv {
	opacity: 0.6;
	top: 0;
	left: 0;
	position: fixed;
	display: none;
	background: #DCE5F5;
	height:  calc(100% + 4px );
	width: calc(100% + 4px );	
}
/* wrappeeeeeeeeeeeeeeeeeeer */
.wrapper {
	margin: auto;
	margin-top: 25px; 	
	/*margin-left: 265px;
	width: calc(100% - 265px);*/
	max-width: 1100px;

}
.filter {
	padding-bottom: 15px;
	margin-top: 40px;
	font-size: 18px;
	height: 34px;
	border-bottom: 7px solid #8F99F7;
}
.filter label {
	margin-right: 13px;
}
.filterButton {
	cursor: pointer;
	box-sizing: border-box;
	display: inline-block;
	padding: 10px 12px;
}
.filterButton img {
	height: 20px;
	vertical-align: top;
	margin-right: 5px;
}
.filterButton:hover {
	background: #B0B9C5;
}
.filterButtonActive {
	background: #6A6B74 !important;;
	color: white;
}

/*ARTICLEEEEEEEEEEEEEEEEEEEEEEEEEEEE*/
section {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
article {	
	width: 30%;
	/*max-width: 375px;*/
}
article img {	
	transition: filter 0.2s;
	width: 100%;
	max-height: 200px;
	min-height: 100px;
}
article img:hover {
	filter: opacity(.7);
}
article p {
	font-family: 'Palanquin', sans-serif;
}
.asd {
	float: right;
	margin-left: 265px;
	margin-right: 8px;
	width: calc(100% - 265px); 
}
.nav {
	margin: auto;`
}
.navs {
	text-align: center; 	
	display: inline-block;
	padding: 5px;
	border:1px solid #9396AC;
	border-radius: 2px;
	width: 20px;
	height: 20px;
	margin-right: 4px;
}
.navs:hover {
	background: #ADA9A9;
}
.navs:nth-of-type(2) {
	background: #3C3F45;
	color:white;
	font-weight: bold;
}
.navs:last-of-type,.navs:first-of-type{
	border-radius: 50%;
	padding: 0px;
}
.nav2 {
	display: none;
	padding: 15px 25px;	
	justify-content: space-between;
	height: 30px;
	margin-bottom: -15px;
}
.navButton img{
	width: 34px;
}
.nav2 > img {
	background: #E9E9E9;
	position: relative;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.nav2 > img:hover {
	background: #DBD9D9;
}
.navButton img:hover{
	filter: opacity(.6);
}
#closeNav {
	width: 35px;
	position: absolute;
	left: 200px;
	border-radius: 50%;
	display: none;
}
#closeNav:hover {
	background: #DDE0E3;
}
.bestPhoto {
	color: #444C7A;
	margin-top: 65px;
	text-align: center;
}
.bestPhotos {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.bestPhotos img{
	margin-top: 14px;
	width: 48%;
	height: 265px;
}
.bestPhotos img:hover {
	filter: opacity(.6);
}

.about {
	font-size: 20px;
	margin-top: 80px;
}

.skills {
	margin-top: 65px;
}
.skills p{
	margin-bottom: 5px;
}
.skillDiv {
	font-size: 16px;
	height: 30px;
	background: #C7C7C7;
}
.skillDivP {	
	color: white;
	height: 100%;
	text-align: center;
	line-height: 30px;
	background: #4E5CA3;
}
.skillDiv:nth-of-type(1) .skillDivP {
	width: 95%;
}
.skillDiv:nth-of-type(2) .skillDivP {
	width: 65%;
}
.skillDiv:nth-of-type(3) .skillDivP {
	width: 30%;
}

.contacts {
	background: #E6ECBF;
	margin-top: 100px;	
}
.contactsDivs {
	margin-top: 20px;
	flex-wrap: wrap;
	display: flex;
}
.contactsDiv {
	padding: 5px 20px;
	flex-wrap: wrap;
	display: flex;
	
	color: #384B71;
	font-size: 20px;
}
.contactsDiv img {
	width: 50px;
	height: 50px;
	margin-right: 5px;
}
@media (max-width: 950px) {
	#closeNav {
		display: inline-block;
	}
	nav {
		display: none;
	}
	.asd {
		float: none;		
		margin-left: 5px;
		width: 100%;
	}
	.nav2 {
		display: flex;
	}
	.wrapper h1{
		display: none;
	}
}
footer p {
	margin-right: 30px;
	font-size: 17px;
	display: inline-block;
}
footer {	
	font-family: sans-serif;
	text-align: center;
	background: #4F8A38;
	padding: 5px 15px
}
@media (max-width: 570px) {
	.bestPhotos img{
		width: 100%;
		margin-bottom: 10px;
	}
	article {	
		margin: auto;
		width: 80%;		
	}
	h1 {
		margin-left: 4px;
		font-size: 20px;
	}
	.navButton img{
		width: 24px;
	}
	.nav2 > img {
		width: 30px;
		height: 30px;
	}
	.filter {
		height: auto;
	}
}
@media (min-width: 950px) {
	.opDiv {
		display: none !important;
	}
	nav {
		display: inline-block !important;
	}
}
